
<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
    <div class="container">

        <!--INICIO PAGINA PRINCIPAL-->

        <main>

             <!-- PAGINA PRINCIPAL NOTIFICACIONES-->
            <div class="notifications">
                <h2>BUSCAR SOCIO</h2>
                <form action="#">
                    <div class="fields">
                        <div class="input-field">
                            <label>DNI</label>
                            <input type="number" placeholder="Ingresar Dni" required>
                        </div>

                        <div class="input-field">
                            <label for="rubro">RUBRO</label>
                            <input type="text" id="rubro" name="rubro" list="rubros" required>
                        </div>

                        <datalist id="rubros" class="details">
                            <option value="Abarrotes">
                            <option value="Bazar">
                            <option value="Carnes">
                            <option value="Comedores">
                            <option value="Embutidos">
                            <option value="Frutas">
                            <option value="Golosinas">
                            <option value="Jugueria">
                            <option value="Mayorista">
                            <option value="Miscaleno">
                            <option value="Pasamaneria">
                            <option value="Pescado">
                            <option value="Pollo">
                            <option value="Porcino">
                            <option value="Tiendas">
                            <option value="Tuberculos">
                        </datalist>

                        <div class="input-field">
                            <label>TELEFONO</label>
                            <input type="number" placeholder="Ingresar Telefono" required>
                        </div>
                        <div class="container_button_socios">
                            <button class="guardarBtn" >
                                <span class="material-icons-sharp">save</span>
                                <span class="btnText">Buscar</span>
                            </button>

                            <button class="borrarBtn">
                                <span class="material-icons-sharp">delete_forever</span>
                                <span class="btnText">Limpiar</span>
                            </button>

                            <button class="registerBtn" (click)="openModal()">
                                <span class="material-icons-sharp">person_add</span>
                                <span class="btnText" >Registrar</span>
                            </button>

                        </div>
                    </div>

                </form>
            </div>

             <div class="notifications1">
                <h2>LISTAR SOCIOS</h2>
                <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dni </th>
                            <th>Celular</th>
                            <th>Rubro</th>
                            <th>Sector</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asociado of dataAsociados">
                          <td>{{asociado.associateId}}</td>
                          <td>{{ asociado.persons.name }}</td>
                          <td>{{ asociado.persons.lastname }}</td>
                          <td>{{ asociado.numDocument.numDocument }}</td>
                          <td>{{ asociado.persons.cellPhones[0]?.cellNumber || '' }}</td>
                          <td>{{ asociado.persons.stands[0]?.rubro?.nameField || '' }}</td>
                          <td>{{ asociado.persons.stands[0]?.sector?.code || '' }}</td>
                            <td>
                                <button class="confirmBtn" (click)="abrir()" >
                                    <i class="material-icons-sharp">edit</i>
                                </button>
                                <button class="rejectBtn">
                                    <i class="material-icons-sharp">delete</i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            </div>
            <div class="modal-bg" *ngIf="showModal">
            <div class="modal">
                <div class="modal_cerrar" (click)="closeModal()" >
                  <span>x</span>
                </div>
                <div class="modal_mensaje">
                  <h2>REGISTRO DE ASOCIADO</h2>
                  <div class="upload">
                    <img [src]="imageUrl" width="100" height="100" alt="">
                    <div class="round">
                      <input type="file" (change)="onFileSelected($event)">
                      <i class="fa fa-camera" style="color: #fff"></i>
                    </div>
                  </div>
                  <form [formGroup]="formAsociados" (ngSubmit)="registrarAsociados()">
                    <div class="input-field-modal">

                      <div class="fields-modal">

                        <div class="input-field-modal">
                            <label>FOLIO</label>
                            <input type="number" placeholder="Ingresar # Folio" required formControlName="folio">
                        </div>
                          <div class="input-field-modal">
                              <label>NOMBRE</label>
                              <input type="text" placeholder="Ingresar Nombre" required formControlName="nombre">
                          </div>
                          <div class="input-field-modal">
                              <label>APELLIDO</label>
                              <input type="text" placeholder="Ingresar Apellido" required formControlName="apellido">
                          </div>
                          <div class="input-field-modal">
                            <label>EDAD</label>
                            <input type="number" placeholder="Ingresar Edad" required >
                          </div>
                          <div class="input-field-modal">
                            <label>TIPO_DOCUMENTO</label>
                            <select name="tipo_documento" required formControlName="document">
                              <option value="" disabled selected>Seleccione</option>
                              <option [ngValue]="1">Dni</option>
                              <option [ngValue]="2">Carnet_Exranjeria</option>
                          </select>
                          </div>
                          <div class="input-field-modal">
                            <label>N° DOCUMENTO</label>
                            <input type="number" placeholder="Ingresar N° Documento" required formControlName="numDocumento">
                          </div>
                          <div class="input-field-modal">
                            <label>FECHA NACIMIENTO</label>
                            <input type="date" placeholder="Ingresar Fecha" required formControlName="fecha_nac">
                          </div>
                          <div class="input-field-modal">
                            <label>SEXO</label>
                            <select name="sexo" required formControlName="genero">
                              <option value="" disabled selected>Seleccione</option>
                              <option [ngValue]="1">Hombre</option>
                              <option [ngValue]="2">Mujer</option>
                          </select>
                          </div>
                          <div class="input-field-modal">
                            <label>TELEFONO</label>
                            <input type="number" placeholder="Ingresar Telefono" required formControlName="telefono">
                          </div>
                          <div class="input-field-modal">
                            <label>OPEDADOR</label>
                            <select name="opedador" required formControlName="operador">
                              <option value="" disabled selected>Seleccione</option>
                              <option [ngValue]="4">Claro</option>
                              <option [ngValue]="1">Entel</option>
                              <option [ngValue]="2">Bitel</option>
                              <option [ngValue]="3">Movistar</option>
                          </select>
                          </div>
                          <div class="input-field-modal">
                            <label>DIRECCION</label>
                            <input type="text" placeholder="Ingresar Direccion" required formControlName="direccion">
                          </div>
                          <div class="input-field-modal">
                            <label>SECTOR</label>
                            <input type="text" placeholder="Ingresar Sector" required formControlName="sector">
                          </div>
                      </div>

                    </div>

                    <div class="fields-modal">
                        <div class="input-field-modal">
                            <label for="rubro">RUBRO</label>
                        <input type="text" id="rubro" name="rubro" list="rubros" required formControlName="rubro">
                    </div>

                    <datalist id="rubros" class="details">
                        <option value="Abarrotes">
                        <option value="Bazar">
                        <option value="Carnes">
                        <option value="Comedores">
                        <option value="Embutidos">
                        <option value="Frutas">
                        <option value="Golosinas">
                        <option value="Jugueria">
                        <option value="Mayorista">
                        <option value="Miscaleno">
                        <option value="Pasamaneria">
                        <option value="Pescado">
                        <option value="Pollo">
                        <option value="Porcino">
                        <option value="Tiendas">
                        <option value="Tuberculos">
                    </datalist>

                          <div class="input-field-modal">
                              <label>AREA</label>
                              <input type="text" placeholder="Ingresar Area" required formControlName="area">
                          </div>
                          <div class="input-field-modal">
                            <label>CONDUCIDO</label>
                            <input type="text" placeholder="Conducido por" required>
                          </div>
                          <div class="input-field-modal">
                            <label>CODE</label>
                            <input type="text" placeholder="Ingresar Code" required formControlName="code">
                          </div>

                        </div>
                            <div class="container_button_modal">
                              <button type="submit" [disabled]="!formAsociados.valid" class="guardarBtn" >
                                <span class="material-icons-sharp">save</span>
                                <span class="btnText">Guardar</span>
                              </button>
                                <button class="limpiarBtn" (click)="closeModal()">
                                    <span class="material-icons-sharp">delete_forever</span>
                                    <span class="btnText">Descartar</span>
                                </button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <div class="modal-bg" *ngIf="showModalEdit">
      <div class="modal">
          <div class="modal_cerrar" (click)="cerrar()" >
            <span>x</span>
          </div>
          <div class="modal_mensaje">
            <h2>EDITAR ASOCIADO</h2>
            <div class="upload">
              <img [src]="imageUrl" width="100" height="100" alt="">
              <div class="round">
                <input type="file" (change)="onFileSelected($event)">
                <i class="fa fa-camera" style="color: #fff"></i>
              </div>
            </div>
            <form [formGroup]="formAsociados" (ngSubmit)="registrarAsociados()">
              <div class="input-field-modal">

                <div class="fields-modal">

                  <div class="input-field-modal">
                      <label>FOLIO</label>
                      <input type="number" placeholder="Ingresar # Folio" required formControlName="folio">
                  </div>
                    <div class="input-field-modal">
                        <label>NOMBRE</label>
                        <input type="text" placeholder="Ingresar Nombre" required formControlName="nombre">
                    </div>
                    <div class="input-field-modal">
                        <label>APELLIDO</label>
                        <input type="text" placeholder="Ingresar Apellido" required formControlName="apellido">
                    </div>
                    <div class="input-field-modal">
                      <label>EDAD</label>
                      <input type="number" placeholder="Ingresar Edad" required >
                    </div>
                    <div class="input-field-modal">
                      <label>TIPO_DOCUMENTO</label>
                      <select name="tipo_documento" required formControlName="document">
                        <option value="" disabled selected>Seleccione</option>
                        <option [ngValue]="1">Dni</option>
                        <option [ngValue]="2">Carnet_Exranjeria</option>
                    </select>
                    </div>
                    <div class="input-field-modal">
                      <label>N° DOCUMENTO</label>
                      <input type="number" placeholder="Ingresar N° Documento" required formControlName="numDocumento">
                    </div>
                    <div class="input-field-modal">
                      <label>FECHA NACIMIENTO</label>
                      <input type="date" placeholder="Ingresar Fecha" required formControlName="fecha_nac">
                    </div>
                    <div class="input-field-modal">
                      <label>SEXO</label>
                      <select name="sexo" required formControlName="genero">
                        <option value="" disabled selected>Seleccione</option>
                        <option [ngValue]="1">Hombre</option>
                        <option [ngValue]="2">Mujer</option>
                    </select>
                    </div>
                    <div class="input-field-modal">
                      <label>TELEFONO</label>
                      <input type="number" placeholder="Ingresar Telefono" required formControlName="telefono">
                    </div>
                    <div class="input-field-modal">
                      <label>OPERADOR</label>
                      <select name="opedador" required formControlName="operador">
                        <option value="" disabled selected>Seleccione</option>
                        <option [ngValue]="4">Claro</option>
                        <option [ngValue]="1">Entel</option>
                        <option [ngValue]="2">Bitel</option>
                        <option [ngValue]="3">Movistar</option>
                    </select>
                    </div>
                    <div class="input-field-modal">
                      <label>DIRECCION</label>
                      <input type="text" placeholder="Ingresar Direccion" required formControlName="direccion">
                    </div>
                    <div class="input-field-modal">
                      <label>SECTOR</label>
                      <input type="text" placeholder="Ingresar Sector" required formControlName="sector">
                    </div>
                </div>
              </div>

              <div class="fields-modal">
                  <div class="input-field-modal">
                      <label for="rubro">RUBRO</label>
                  <input type="text" id="rubro" name="rubro" list="rubros" required formControlName="rubro">
              </div>

              <datalist id="rubros" class="details">
                  <option value="Abarrotes">
                      <option value="Bazar">
                  <option value="Carnes">
                      <option value="Comedores">
                  <option value="Embutidos">
                  <option value="Frutas">
                  <option value="Golosinas">
                  <option value="Jugueria">
                  <option value="Mayorista">
                  <option value="Miscaleno">
                  <option value="Pasamaneria">
                  <option value="Pescado">
                  <option value="Pollo">
                  <option value="Porcino">
                  <option value="Tiendas">
                  <option value="Tuberculos">
                  </datalist>

                    <div class="input-field-modal">
                        <label>AREA</label>
                        <input type="text" placeholder="Ingresar Area" required formControlName="area">
                    </div>
                    <div class="input-field-modal">
                      <label>CONDUCIDO</label>
                      <input type="text" placeholder="Conducido por" required>
                    </div>
                    <div class="input-field-modal">
                      <label>CODE</label>
                      <input type="text" placeholder="Ingresar Code" required formControlName="code">
                    </div>

                  </div>
                      <div class="container_button_modal">
                        <button type="submit" [disabled]="!formAsociados.valid" class="guardarBtn" (click)="cerrar()">
                          <span class="material-icons-sharp">save</span>
                          <span class="btnText">Guardar</span>
                        </button>
                          <button class="limpiarBtn" (click)="cerrar()">
                              <span class="material-icons-sharp">delete_forever</span>
                              <span class="btnText">Descartar</span>
                          </button>
                      </div>

              </form>
          </div>
      </div>
    </div>
    </div>



</body>
