<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
    <div class="container">
        <main>

            <h1>Dashboard</h1>
            <!--INICIO PAGINA PRINCIPAL USER-->
            <div class="partners" *ngIf="userInfo">
                <h2>Hola, {{userInfo.username}}</h2>
            </div>
            <div class="insights">
                <div class="user">
                    <span class="material-icons-sharp">person</span>
                    <div class="middle">
                        <div class="lef">
                            <h3>Total Socios</h3>
                            <h1>{{ cantidadTotalSocios }}</h1>
                        </div>
                        <div class="progress-bar-container">
                            <svg class="progress-svg" viewBox="0 0 100 100">
                              <circle class="progress-background" cx="50" cy="50" r="45"></circle>
                              <circle class="progress-bar" cx="50" cy="50" r="45" [style.strokeDasharray]="dashArrayTotalSocios" [style.strokeDashoffset]="dashOffsetTotalSocios" [style.stroke]="progressBarColorTotalSocios"></circle>
                            </svg>
                            <div class="progress-label">{{ porcentajeTotalSocios }}%</div>
                          </div>
                    </div>
                    <small class="text-muted">ultimas 24 horas</small>
                </div>
                <!--FIN PAGINA PRINCIPAL USER-->
                <!--INICIO PAGINA PRINCIPAL LOCALES-->

                <div class="busy">
                    <span class="material-icons-sharp">store</span>
                    <div class="middle">
                      <div class="lef">
                        <h3>Locales Ocupados</h3>
                        <h1>{{ cantidadAsociados }}</h1>
                      </div>
                      <div class="progress-bar-container">
                        <svg class="progress-svg" viewBox="0 0 100 100">
                          <circle class="progress-background" cx="50" cy="50" r="45"></circle>
                          <circle class="progress-bar" cx="50" cy="50" r="45" [style.strokeDasharray]="dashArrayAsociados" [style.strokeDashoffset]="dashOffsetAsociados" [style.stroke]="progressBarColorAsociados"></circle>
                        </svg>
                        <div class="progress-label">{{ porcentajeAsociados.toFixed(0) }}%</div>
                      </div>
                    </div>
                    <small class="text-muted">últimas 24 horas</small>
                  </div>
                  
                <!--FIN PAGINA PRINCIPAL LOCALES-->
                <!--INICIO PAGINA PRINCIPAL LOCALES DISPONIBLES-->

                <div class="available">
                    <span class="material-icons-sharp">store</span>
                    <div class="middle">
                        <div class="lef">
                            <h3>Locales Disponibles</h3>
                            <h1>{{ cantidadLocalesDisponibles }}</h1>
                        </div>
                        <div class="progress-bar-container">
                            <svg class="progress-svg" viewBox="0 0 100 100">
                              <circle class="progress-background" cx="50" cy="50" r="45"></circle>
                              <circle class="progress-bar" cx="50" cy="50" r="45" [style.strokeDasharray]="dashArrayLocalesDisponibles" [style.strokeDashoffset]="dashOffsetLocalesDisponibles" [style.stroke]="progressBarColorLocalesDisponibles"></circle>
                            </svg>
                            <div class="progress-label">{{ porcentajeLocalesDisponibles.toFixed(0) }}%</div>
                          </div>
                    </div>
                    <small class="text-muted">ultimas 24 horas</small>
                </div>
                <!--FIN PAGINA PRINCIPAL LOCALES DISPONIBLES-->               
            </div>
            <!-- PAGINA PRINCIPAL NOTIFICACIONES-->
            <div class="notifications1">
                <h2>NOTIFICACIONES</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre</th>
                                <th>Rubro </th>
                                <th>Deuda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Roberto </td>
                                <td>Frutas </td>
                                <td>S/300</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Roberto </td>
                                <td>Frutas </td>
                                <td>S/300</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Roberto </td>
                                <td>Frutas </td>
                                <td>S/300</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Roberto </td>
                                <td>Frutas </td>
                                <td>S/300</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Roberto </td>
                                <td>Frutas </td>
                                <td>S/300</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
        </main>
    </div>
</body>
