<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
	<div class="container">
		<main>
			<h1>Dashboard</h1>
			<div class="current-date-time">
				<p>{{ currentDateTime | date: 'dd/MM/yyyy' }}</p>
				|
				<p>{{ currentDateTime | date: 'hh:mm:ss a' }}</p>
			</div>
			<!--INICIO PAGINA PRINCIPAL USER-->
			<div class="insights">
				<div class="user">
					<span class="material-icons-sharp">person</span>
					<div class="middle">
						<div class="lef">
							<h3>Total Socios</h3>
							<h1>{{ cantidadTotalSocios }}</h1>
						</div>
						<div class="progress-bar-container">
							<svg class="progress-svg" viewBox="0 0 100 100">
								<circle class="progress-background" cx="50" cy="50" r="45"></circle>
								<circle
									class="progress-bar fill-animation-total"
									cx="50"
									cy="50"
									r="45"></circle>
							</svg>
							<div class="progress-label">{{ porcentajeTotalSocios }}%</div>
						</div>
					</div>
					<small class="text-muted">ultimas 24 horas</small>
				</div>
				<!--FIN PAGINA PRINCIPAL USER-->
				<!--INICIO PAGINA PRINCIPAL LOCALES-->

				<div class="busy">
					<span class="material-icons-sharp">store</span>
					<div class="middle">
						<div class="lef">
							<h3>Locales Ocupados</h3>
							<h1>{{ totalAsociados }}</h1>
						</div>
						<div class="progress-bar-container">
							<svg class="progress-svg" viewBox="0 0 100 100">
								<circle class="progress-background" cx="50" cy="50" r="45"></circle>
								<circle
									class="progress-bar"
									cx="50"
									cy="50"
									r="45"
									[style.strokeDasharray]="calcularStrokeDasharray()"></circle>
							</svg>
							<div class="progress-label">
								{{ ((totalAsociados / maxTotalAsociados) * 100).toFixed(2) }}%
							</div>
						</div>
					</div>
					<small class="text-muted">últimas 24 horas</small>
				</div>

				<!--FIN PAGINA PRINCIPAL LOCALES-->
				<!--INICIO PAGINA PRINCIPAL LOCALES DISPONIBLES-->

				<div class="available">
					<span class="material-icons-sharp">store</span>
					<div class="middle">
						<div class="lef">
							<h3>Locales Disponibles</h3>
							<h1>{{ diferenciaAsociados }}</h1>
						</div>
						<div class="progress-bar-container">
							<svg class="progress-svg" viewBox="0 0 100 100">
								<circle class="progress-background" cx="50" cy="50" r="45"></circle>
								<circle
									class="progress-bar"
									cx="50"
									cy="50"
									r="45"
									[style.strokeDasharray]="
										calcularStrokeDasharrayLocalesDisponibles()
									"></circle>
							</svg>
							<div class="progress-label">{{ porcentajeDiferencia.toFixed(2) }}%</div>
						</div>
					</div>
					<small class="text-muted">ultimas 24 horas</small>
				</div>
				<div class="calender">
					<div class="month-navigation">
						<p>{{ currentDate | date: 'MMMM y' }}</p>
						<button (click)="navigate(-1)">
							<span class="material-icons-sharp"> chevron_left </span>
						</button>
						<button (click)="navigate(1)">
							<span class="material-icons-sharp"> chevron_right </span>
						</button>
					</div>
					<table>
						<tr>
							<th>D</th>
							<th>L</th>
							<th>M</th>
							<th>M</th>
							<th>J</th>
							<th>V</th>
							<th>S</th>
						</tr>
						<tr *ngFor="let week of getMonthGrid()">
							<td
								*ngFor="let day of week"
								[class.inactive]="!day.isCurrentMonth"
								[class.current-day]="isToday(day.date)">
								{{ day.date | date: 'd' }}
							</td>
						</tr>
					</table>
				</div>
				<!--FIN PAGINA PRINCIPAL LOCALES DISPONIBLES-->
			</div>

			<!-- PAGINA PRINCIPAL NOTIFICACIONES-->
			<div class="notifications1">
				<h2>ASOCIADOS POR RUBRO</h2>
				<div class="table-container">
					<div class="count-por-rubro">
						<div *ngFor="let rubro of countPorRubro | keyvalue">
							<div class="rubro-item">
								<i class="material-icons-sharp">production_quantity_limits</i>
								<div class="barra" [style.width]="rubro.value + '%'">
									<div class="barra-fondo"></div>
								</div>
								<div class="etiqueta">
									<span class="value">{{ rubro.value | number: '1.0-2' }}%</span>
									<span class="key">{{ rubro.key }}</span>
								</div>
							</div>
						</div>
					</div>
					<small class="text-muted">ultimas 24 horas</small>
				</div>
			</div>
		</main>
	</div>
</body>
