<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
    <div class="container" >
 
        <main class="main" >
            
             <!-- PAGINA PRINCIPAL NOTIFICACIONES-->
            <div class="notifications">
                <h2>GUARDAR PAGOS</h2>
                <form [formGroup]="formPagos" (ngSubmit)="registrarPagos()">
                    <div class="fields">
                        <div class="input-field">
                            <label>FECHA PAGO</label>
                            <input type="date" placeholder="Ingresar Fecha" required formControlName="datepayment" >
                        </div>
                        <div class="input-field">
                            <label>NOMBRE</label>
                            <input type="text" placeholder="Ingresar Nombre" required  formControlName="person">
                        </div>
                        
                        <div class="input-field">
                            <label>MONTO</label>
                            <input type="number" placeholder="Ingresar Monto" required formControlName="amount">
                        </div>
                        
                        <div class="container_button">
                            <button  type="submit" [disabled]="!formPagos.valid"   class="guardarBtn">
                                <span class="material-icons-sharp">save</span>
                                <span class="btnText">Guardar</span>
                            </button>
                            <button class="limpiarBtn"  (click)="limpiarFormulario()">
                                <span class="material-icons-sharp">delete_forever</span>
                                <span class="btnText">Limpiar</span>
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        
            <!-- REGISTRAR PAGOS  -->
            <div class="notifications">
                <h2>BUSCAR PAGO</h2>
                <form [formGroup]="buscarForm" (ngSubmit)="buscarPorMonto()">
                    <div class="fields-pago">
                        <!--<div class="input-field-pago">
                            <label>FECHA</label>
                            <input type="date" placeholder="Ingresar fecha" required formControlName="datepayment">
                        </div>
                        <div class="input-field-pago">
                            <label>NOMBRE</label>
                            <input type="text" placeholder="Ingresar Nombre" required formControlName="person">
                        </div>-->
                        <div class="input-field-pago">
                            <label  for="amountToSearch">MONTO</label>
                            <input type="number" placeholder="Ingresar Monto" required formControlName="amountToSearch">
                        </div>
                        

                        <div class="container_button-pago">
                            <button class="guardarBtn">
                                <span class="material-icons-sharp">search</span>
                                <span class="btnText">Buscar</span>
                            </button>
                            <button class="limpiarBtn" (click)="limpiarFormulario()">
                                <span class="material-icons-sharp">delete_forever</span>
                                <span class="btnText">Limpiar</span>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            

        <div class="notifications1">
            <h2>HISTORIAL DE PAGOS </h2>
            <div class="table-container">
            <table>
                <thead>
                    <tr >
                        <th>Fecha de pago</th>
                        <th>Nombres</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pago of dataPagos">
                        <td>{{ pago.person.date_birth| date: 'dd/MM/yyyy' }}</td>
                        <td>{{ pago.person.name }} </td>
                        <td>{{ pago.amount }} </td>
                    </tr>
                    <tr *ngIf="dataPagos.length === 0">
                        <td colspan="3">No hay resultados de búsqueda.</td>
                      </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!-- REGISTRAR PAGOS FIN  -->
    </main>
</div>
</body>


