<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
	<div class="container">
		<main class="main">
			<!-- PAGINA PRINCIPAL NOTIFICACIONES-->

			<!-- REGISTRAR PAGOS  -->

			<div class="notifications">
				<h2>BUSCAR PAGO</h2>
				<form [formGroup]="buscarForm" (ngSubmit)="buscarPorMonto()">
					<div class="fields">
						<div class="input-field">
							<label for="">MONTO</label>
							<input
								type="number"
								placeholder="Ingresar Monto"
								required
								formControlName="amountToSearch" />
						</div>
						<div class="input-field-modal">
							<label for="person">NOMBRE</label>
							<input
								type="text"
								id="person"
								list="persons"
								required
								formControlName="nameToSearch"
								(input)="onPersonInput()" />
							<datalist id="persons" class="details">
								<option
									*ngFor="let persona of dataPersona"
									[value]="persona.name + ' ' + persona.lastname"></option>
							</datalist>
						</div>

						<div class="container_button_socios">
							<button class="guardarBtn">
								<span class="material-icons-sharp">search</span>
								<span class="btnText">Buscar</span>
							</button>

							<button class="borrarBtn" (click)="limpiarFormulario()">
								<span class="material-icons-sharp">delete_forever</span>
								<span class="btnText">Limpiar</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div class="notifications1">
				<h2>HISTORIAL DE PAGOS</h2>
				<div class="table-container">
					<div class="container_button_registrar">
						<button class="registerBtn" (click)="openModal()">
							<span class="material-icons-sharp">payments</span>
							<span class="btnText">Registrar</span>
						</button>
					</div>
					<div *ngIf="dataPagos && dataPagos.length === 0">
						<p>No hay resultados.</p>
					</div>
					<table *ngIf="dataPagos && dataPagos.length > 0">
						<thead>
							<tr>
								<th>N°</th>
								<th>Fecha de pago</th>
								<th>Nombres</th>
								<th>Monto</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let pago of dataPagos; let i = index">
								<td>{{ i + 1 }}</td>
								<td>{{ pago.datePayment | date: 'dd/MM/yyyy' }}</td>
								<td>{{ pago.person.name }}</td>
								<td>{{ pago.amount }}</td>
								<td>
									<button class="confirmBtn" (click)="abrirModal(pago)">
										<i class="material-icons-sharp">edit</i>
									</button>
									<button
										class="rejectBtn"
										(click)="eliminarPagos(pago.detailPaymentId)">
										<i class="material-icons-sharp">delete</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-bg" *ngIf="showModal">
					<div class="modal">
						<div
							class="modal_cerrar"
							(click)="closeModal()"
							(keydown.enter)="closeModal()"
							tabindex="0">
							<span>x</span>
						</div>
						<div class="modal_mensaje">
							<h2>REGISTRO DE PAGOS</h2>
							<form [formGroup]="formPagos" (ngSubmit)="registrarPagos()">
								<div class="input-field-modal">
									<div class="fields-modal">
										<div
											class="input-field-modal"
											[ngClass]="{
												error:
													formPagos
														.get('datepayment')
														?.hasError('required') &&
													formPagos.get('datepayment')?.touched
											}">
											<label for="">FECHA PAGO</label>
											<input
												type="date"
												placeholder="Ingresar Fecha"
												required
												formControlName="datepayment" />
											<div
												*ngIf="
													formPagos
														.get('datepayment')
														?.hasError('required') &&
													formPagos.get('datepayment')?.touched
												">
												Este campo no puede estar vacío.
											</div>
										</div>
										<div
											class="input-field-modal"
											[class.error]="
												formPagos.get('person')?.hasError('required') &&
												formPagos.get('person')?.touched
											">
											<label for="person">NOMBRE</label>
											<input
												type="text"
												id="person"
												list="persons"
												required
												formControlName="personName"
												(input)="onPersonInput()" />

											<datalist id="persons" class="details">
												<option
													*ngFor="let persona of dataPersona"
													[value]="
														persona.name + ' ' + persona.lastname
													"></option>
											</datalist>

											<!-- Mensaje de error -->
											<div
												*ngIf="
													formPagos.get('person')?.hasError('required') &&
													formPagos.get('person')?.touched
												">
												* Este campo no puede estar vacío
											</div>
										</div>

										<div
											class="input-field-modal"
											[class.error]="
												formPagos.get('amount')?.hasError('required') &&
												formPagos.get('amount')?.touched
											">
											<label for="">MONTO</label>
											<input
												type="number"
												placeholder="Ingresar Monto"
												required
												formControlName="amount" />
											<div
												*ngIf="
													formPagos.get('amount')?.hasError('required') &&
													formPagos.get('amount')?.touched
												">
												* Este campo no puede estar vacío
											</div>
										</div>
									</div>
									<div class="container_button_modal">
										<button
											type="submit"
											[disabled]="!formPagos.valid"
											class="guardarBtn">
											<span class="material-icons-sharp">save</span>
											<span class="btnText">Guardar</span>
										</button>
										<button class="limpiarBtn" (click)="closeModal()">
											<span class="material-icons-sharp">delete_forever</span>
											<span class="btnText">Descartar</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- REGISTRAR PAGOS FIN  -->
		</main>
		<div class="modal-bg" *ngIf="showModalEdit">
			<div class="modal">
				<div
					class="modal_cerrar"
					(click)="cerrarModal()"
					(keydown.enter)="cerrarModal()"
					tabindex="0">
					<span>x</span>
				</div>
				<div class="modal_mensaje">
					<h2>EDITAR PAGOS</h2>
					<form [formGroup]="formPagos" (ngSubmit)="actualizarPagos()">
						<div class="input-field-modal">
							<div class="fields-modal">
								<div
									class="input-field-modal"
									[ngClass]="{
										error:
											formPagos.get('datepayment')?.hasError('required') &&
											formPagos.get('datepayment')?.touched
									}">
									<label for="">FECHA PAGO</label>
									<input
										type="date"
										placeholder="Ingresar Fecha"
										required
										formControlName="datepayment"
										[ngModel]="selectedPago?.datePayment_string" />
									<div
										*ngIf="
											formPagos.get('datepayment')?.hasError('required') &&
											formPagos.get('datepayment')?.touched
										">
										Este campo no puede estar vacío.
									</div>
								</div>
								<div
									class="input-field-modal"
									[class.error]="
										formPagos.get('person')?.hasError('required') &&
										formPagos.get('person')?.touched
									">
									<label for="person">NOMBRE</label>
									<input
										type="text"
										id="person"
										list="persons"
										required
										formControlName="personName"
										[ngModel]="selectedPago?.person?.name"
										(input)="onPersonInput()" />

									<datalist id="persons" class="details">
										<option
											*ngFor="let persona of dataPersona"
											[value]="
												persona.name + ' ' + persona.lastname
											"></option>
									</datalist>

									<!-- Mensaje de error -->
									<div
										*ngIf="
											formPagos.get('person')?.hasError('required') &&
											formPagos.get('person')?.touched
										">
										* Este campo no puede estar vacío
									</div>
								</div>

								<div
									class="input-field-modal"
									[class.error]="
										formPagos.get('amount')?.hasError('required') &&
										formPagos.get('amount')?.touched
									">
									<label for="">MONTO</label>
									<input
										type="number"
										placeholder="Ingresar Monto"
										required
										formControlName="amount"
										[ngModel]="selectedPago?.amount" />
									<div
										*ngIf="
											formPagos.get('amount')?.hasError('required') &&
											formPagos.get('amount')?.touched
										">
										* Este campo no puede estar vacío
									</div>
								</div>
							</div>
							<div class="container_button_modal">
								<button
									type="submit"
									[disabled]="!formPagos.valid"
									class="guardarBtn">
									<span class="material-icons-sharp">save</span>
									<span class="btnText">Guardar</span>
								</button>
								<button class="limpiarBtn" (click)="cerrarModal()">
									<span class="material-icons-sharp">delete_forever</span>
									<span class="btnText">Descartar</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
