<div>
    <h2>Datos de los productos</h2>
    <table>
        <tr>
            <ul>
                <li *ngFor="let products of data">
                    {{products.nombre}},
                    {{products.cantidad}}
                </li>
            </ul>
            
        </tr>
    </table>
    <form [formGroup]="formsProduct" (ngSubmit)="registrarDatos()">
        <label>Nombre: </label>
        <input type="text" formControlName="nombre">

        <label>Precio: </label>
        <input type="number" formControlName="precio">

        <label>cantidad: </label>
        <input type="number" formControlName="cantidad">
        
        <button type="submit" [disabled]="formsProduct.invalid">registrar</button>
    </form>
</div>
