<body [ngClass]="{ 'dark-theme-variables': isDarkTheme }">
	<div class="container">
		<!--INICIO PAGINA PRINCIPAL-->

		<main>
			<!-- <div class="container_reports">
				<div class="reports">
					<div class="reports_conten">
						<h1>Bienvenido</h1>
						<h3>Bienvenido a nuestra seccion panel de reportes</h3>
					</div>

					<img src="assets/reporte/reports.svg" alt="" />
				</div>
				<div class="vertical-container-container">
					 Segundo contenedor vertical 
					<div class="vertical-container">
						<div class="calender">
							<div class="month-navigation">
								<p>{{ currentDate | date: 'MMMM y' }}</p>
								<button (click)="navigate(-1)">
									<span class="material-icons-sharp"> chevron_left </span>
								</button>
								<button (click)="navigate(1)">
									<span class="material-icons-sharp"> chevron_right </span>
								</button>
							</div>
							<table>
								<tr>
									<th>D</th>
									<th>L</th>
									<th>M</th>
									<th>M</th>
									<th>J</th>
									<th>V</th>
									<th>S</th>
								</tr>
								<tr *ngFor="let week of getMonthGrid()">
									<td
										*ngFor="let day of week"
										[class.inactive]="!day.isCurrentMonth"
										[ngClass]="{ 'current-day': isToday(day.date) }">
										{{ day.date | date: 'd' }}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>-->
			<div class="notifications1">
				<h2>PAGOS RECIENTES</h2>

				<!-- Tu tabla y su contenido -->
				<table
					datatable
					[dtOptions]="dtOptions"
					class="table table-rounded table-bordered border rounded rounded-4 row-border table-hover">
					<tfoot>
						<tr>
							<th></th>
							<th><input type="text" placeholder="Nombre" /></th>
							<th><input type="text" placeholder="Apellidos" /></th>
							<th><input type="text" placeholder="N° de documento" /></th>
							<th><input type="text" placeholder="Direccion" /></th>
							<th><input type="text" placeholder="Celular" /></th>
							<th><input type="text" placeholder="Rubro" /></th>
							<th><input type="text" placeholder="Pagos" /></th>
							<th></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</main>
	</div>
	<!-- Incluir Bootstrap fuera del iframe -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
		crossorigin="anonymous" />
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
