@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    width: 220vh;
    height: 100vh;;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    padding-top: 80px;
    width: 100%;
    margin-left: 40px;
   
    
}
  /* CONTENIDO TABLAS  */
main .notifications1{
    margin-top: 2rem;
 }

 main .notifications1 h2{
    margin-bottom: 0.8rem;
 }

 main .notifications1 table{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
 }

 tfoot th {
  background-color: var(--color-white);
}

tfoot th input {

  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-label);
  border-radius: 10px;
}

tfoot th button {
  padding: 10px;
  background-color: #32be8f;
  color: #fff;
  border: none;
  cursor: pointer;
}

tfoot th button:hover {
  background-color: #2eaa81;
}






  
  
  
  