<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <body>
        <img class="wave" src="assets/login/ola.png">
        <div class="container">
            <div class="img">
                <img src="assets/register/register.svg">
            </div>
            <div class="login-content">


                <form [formGroup]="formRegister" (ngSubmit)="registrarUsuario()">
                    <h2 class="title">REGISTRARSE </h2>
                    <div class="input-div">
                        <div class="i"> 
                                <i class="fas fa-user"></i>
                            </div>
                        <div class="username">
                            <input type="text" formControlName="nombre">
                            <label >NOMBRE</label>
                        </div>
                    </div>

                    <div class="input-div">
                        <div class="i"> 
                        <i class="fas fa-user"></i>
                        </div>
                        <div class="username">
                            <input type="text" formControlName="apellidos">
                        <label for="apellido">APELLIDO</label>
                        </div>
                    </div>

                    <div class="select-div">
                        <div class="i">
                        <i class="fas fa-address-card"></i>
                        </div>
                        <div class="select-container" >
                        <label for="sex" class="select-label">DOCUMENTO</label>
                        <select class="select" id="sex" name="sex" formControlName="tipodoc">
                            <option value=""></option>
                            <option [ngValue]="1">DNI</option>
                            <option [ngValue]="2">CARNET EXTRANJERIA</option>
                        </select>
                        </div>
                    </div>

                    <div class="input-div">
                        <div class="i"> 
                                <i class="fas fa-id-card"></i>
                            </div>
                        <div class="username">
                            <input type="number" formControlName="usuario">
                            <label >Nº DOCUMENTO</label>
                        </div>
                    </div>

                    <div class="input-div">
                        <div class="i"> 
                                <i class="fas fa-lock"></i>
                            </div>
                        <div class="username">
                            <input type="password" formControlName="contraseña">
                            <label >PASSWORD</label>
                        </div>
                    </div>

                    <div class="input-div">
                        <div class="i"> 
                        <i class="fas fa-calendar"></i>
                        </div>
                        <div class="username">
                            <input type="date" formControlName="fecha_nac">
                        <label >FECHA</label>
                        </div>
                    </div>

                    <div class="select-div">
                        <div class="i">
                        <i class="fas fa-venus-mars"></i>
                        </div>
                        <div class="select-container" >
                        <label for="sex" class="select-label">SEXO</label>
                        <select class="select" id="sex" name="sex" formControlName="genero">
                            <option value=""></option>
                            <option [ngValue]="1">MASCULINO</option>
                            <option [ngValue]="2">FEMENINO</option>
                        </select>
                        </div>
                    </div>

                    <a routerLink="/login">REGRESAR</a>

                    <input type="submit"[disabled]="!formRegister.valid" class="btn" value="Registrarse" >

            </form>
        </div>
    </div>
</body>
